.section {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6) 2%,
      rgba(255, 255, 255, 1)
    ),
    url("../../images/20184579.png");
  height: 80%;
  div {
    height: 50vh;
    padding-top: 40%;
    position: relative;
    h2 {
      font-size: 2.6rem;
      color: #60d394;
      bottom: 0;
      position: absolute;
      font-family: "Merriweather";
      padding: 1rem 2rem;
      line-height: 4.5rem;
    }
  }
}
